.container {
  margin-right: 150px;
  margin-top: 50px;
  border: none;
  display: block;
  width: 300px;
  height: 500px;
}
.header {
  position: relative;
  margin-left: 100px;
  font-size: x-large;
  margin-bottom: 15px;

  color: rgb(116, 44, 224);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.hourButton {
  border-radius: 12px;
  margin-left: 50px;
  margin-top: 25px;
  text-align: center;
  border: none;
  background-color: rgb(3, 5, 27);
  color: rgb(209, 204, 193);
  height: 70px;
  width: min-content;

  cursor: pointer;
}
.hourButton:hover {
  transition: 0.9s;
  background-color: rgb(69, 41, 191);
  /*  */
}
