.reservationForm {
  margin-top: 40px;
  margin-bottom: none;
  border-radius: 5%;
  height: fit-content;
  background-color: inherit;
  width: 225px;
}
.name,
.info,
.email,
.phone {
  border-radius: 10px;
  margin-left: 2px;
  padding: 10px;
  width: 200px;
  height: 30px;

  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: medium;
}
.name,
.info,
.email,
.phone::placeholder {
  font-size: 15px;
  padding-top: 10px;
}
.bookingButton {
  position: relative;
  cursor: pointer;
  left: 5%;
  margin-bottom: 10px;
  width: 200px;
  height: 33px;
  text-align: center;
  margin-top: 10px;
  color: white;
  border-radius: 15px;
  background-color: rgb(155, 203, 218);
}
.bookingButton:hover {
  transition: 2s;
  background-color: rgb(39, 166, 224);
}
.cancel {
  margin-left: 193px;
  margin-top: 7px;

  color: white;
  cursor: pointer;
}
.cancel:hover {
  transition: 1.5s;
  color: red;
}
.formtitle {
  position: relative;
  left: 20%;
  margin-left: 10px;
  color: white;
  font-size: x-large;
}
.titleForm {
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 150px;
  height: fit-content;
  display: block;
  background-color: rgb(64, 50, 118);
}
.titleForm > h1 {
  color: rgb(175, 176, 232);
  margin-left: 10px;
}
.date,
.desc,
.hour {
  font-family: "Times New Roman", Times, serif;
  justify-content: space-between;
  padding: 2px;
  text-align: center;
  color: rgb(169, 193, 221);
}
.error {
  color: rgb(241, 131, 234);
  margin-left: 10px;
}
