.app {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: rgb(62, 116, 164);
}
.calendarHour {
  display: flex;
  justify-content: space-between;
}
.calendar {
  margin-top: 100px;
  margin-bottom: 550px;
  margin-left: 100px;
  margin-right: 55px;
}
/* 
.hourpicker {
  position: static;
  background-color: inherit;
  margin-right: 600px;
  margin-left: 0;
} */
.reservationForm {
  margin-bottom: 200px;
}
