* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: row;
  height: max-content;
  background-color: rgb(24, 19, 26);
}
.calendarHour {
  color: rgb(169, 96, 28);
  margin-left: 100px;
  margin-top: 125px;
  display: block;
  /* justify-content: space-between; */
}
.calendar {
  height: max-content;
  background-color: rgb(212, 228, 220);
  border-radius: 15px;
}
.hourpicker {
  margin-top: 100px;
}
